@import url('https://fonts.googleapis.com/css2?family=Inter&family=Philosopher&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Philosopher', 'sans-serif';
    letter-spacing: 3px;
}
body.modal-open {
    overflow: hidden;
    position: fixed;
}
